.main-div-descubre {
    background-color: rgb(84, 21, 84);
    clip-path: ellipse(105% 100% at center top);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-div-h2-2 {
    color: white;
    font-size: 33px;
    text-align: center;
}

.main-div-GRATIS {
    BACKGROUND-COLOR: WHITE;
    WIDTH: 92%;
    margin: 4%;
    height: 6vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.main-div-p12 {
    color: rgb(84, 21, 84);
    text-align: center;
    font-size: 94%;
    FONT-WEIGHT: bold;
}

.main-div-HABLAR {
    WIDTH: 92%;
    margin: 4%;
    height: 6vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.main-div-p13 {
    color: WHITE;
    text-align: center;
    font-size: 94%;
    font-weight: bold;
}
